/* @group import */
/* @end */
/* @group global var */
/* @end */
/* @group Boilerplate */
html,
button,
input,
select,
textarea {
  color: #232323;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
/* @end */
/* @group Fonts */
@font-face {
  font-family: 'motiva_sansbold_italic';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/niramekko_-_motiva_sans_bold_italic-webfont.eot');
  src: url('../fonts/niramekko_-_motiva_sans_bold_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/niramekko_-_motiva_sans_bold_italic-webfont.woff') format('woff'), url('../fonts/niramekko_-_motiva_sans_bold_italic-webfont.ttf') format('truetype'), url('../fonts/niramekko_-_motiva_sans_bold_italic-webfont.svg#motiva_sansbold_italic') format('svg');
}
@font-face {
  font-family: 'motiva_sansbold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/niramekko_-_motiva_sans_bold-webfont.eot');
  src: url('../fonts/niramekko_-_motiva_sans_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/niramekko_-_motiva_sans_bold-webfont.woff') format('woff'), url('../fonts/niramekko_-_motiva_sans_bold-webfont.ttf') format('truetype'), url('../fonts/niramekko_-_motiva_sans_bold-webfont.svg#motiva_sansbold') format('svg');
}
@font-face {
  font-family: 'motiva_sanslight_italic';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/niramekko_-_motiva_sans_light_italic-webfont.eot');
  src: url('../fonts/niramekko_-_motiva_sans_light_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/niramekko_-_motiva_sans_light_italic-webfont.woff') format('woff'), url('../fonts/niramekko_-_motiva_sans_light_italic-webfont.ttf') format('truetype'), url('../fonts/niramekko_-_motiva_sans_light_italic-webfont.svg#motiva_sanslight_italic') format('svg');
}
@font-face {
  font-family: 'motiva_sanslight';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/niramekko_-_motiva_sans_light-webfont.eot');
  src: url('../fonts/niramekko_-_motiva_sans_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/niramekko_-_motiva_sans_light-webfont.woff') format('woff'), url('../fonts/niramekko_-_motiva_sans_light-webfont.ttf') format('truetype'), url('../fonts/niramekko_-_motiva_sans_light-webfont.svg#motiva_sanslight') format('svg');
}
@font-face {
  font-family: 'motiva_sansitalic';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/niramekko_-_motiva_sans_regular_italic-webfont.eot');
  src: url('../fonts/niramekko_-_motiva_sans_regular_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/niramekko_-_motiva_sans_regular_italic-webfont.woff') format('woff'), url('../fonts/niramekko_-_motiva_sans_regular_italic-webfont.ttf') format('truetype'), url('../fonts/niramekko_-_motiva_sans_regular_italic-webfont.svg#motiva_sansitalic') format('svg');
}
@font-face {
  font-family: 'motiva_sans';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/niramekko_-_motiva_sans-webfont.eot');
  src: url('../fonts/niramekko_-_motiva_sans-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/niramekko_-_motiva_sans-webfont.woff') format('woff'), url('../fonts/niramekko_-_motiva_sans-webfont.ttf') format('truetype'), url('../fonts/niramekko_-_motiva_sans-webfont.svg#motiva_sansregular') format('svg');
}
@font-face {
  font-family: 'mysoswing';
  src: url('../fonts/mysoswing.eot?-3vu893');
  src: url('../fonts/mysoswing.eot?#iefix-3vu893') format('embedded-opentype'), url('../fonts/mysoswing.woff?-3vu893') format('woff'), url('../fonts/mysoswing.ttf?-3vu893') format('truetype'), url('../fonts/mysoswing.svg?-3vu893#mysoswing') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'mysoswing';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-lock:before {
  content: "\e600";
}
/* @end */
/* @group Mes styles */
/* @group General */
/* selection */
::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}
/* @end */
html,
body {
  display: block;
  position: relative;
  min-height: 100%;
  height: 100%;
}
.container {
  display: block;
  position: relative;
  width: 1100px;
  height: auto;
  margin: 0 auto;
}
.align-left {
  float: left;
}
.align-right {
  float: right;
}
/* @end */
/* @group btn */
a.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 44px;
  background-color: #ff6300;
  color: #ffffff;
  font-family: 'motiva_sansitalic', sans-serif;
  font-weight: normal;
  font-size: 1em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 3px 0 #993b00;
  -moz-box-shadow: 0 3px 0 #993b00;
  box-shadow: 0 3px 0 #993b00;
}
a.btn:focus {
  outline: none;
}
a.btn-inline {
  color: #ff6300;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid #ff6300;
  text-decoration: none;
  padding: 2px 0 0 0;
  line-height: 0.9em;
}
/* @end */
/* @group Header */
header {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
header #top-header {
  display: block;
  width: 100%;
  height: 30px;
  background-color: #ff6300;
  border-bottom: 1px solid #993b00;
}
header ul#menu-langues {
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: auto;
  margin: 0;
  padding: 9px 0 0 0;
  float: left;
}
header ul#menu-langues li {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 0 0;
}
header ul#menu-langues li:last-of-type {
  margin: 0;
}
header ul#menu-langues li.active a {
  color: #ffffff;
  font-family: 'motiva_sanslight_italic', sans-serif;
  font-weight: normal;
  font-size: 0.875em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  border-bottom-width: 0px;
}
header ul#menu-langues li a {
  font-family: 'motiva_sans', sans-serif;
  font-weight: normal;
  font-size: 0.875em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 0.9em;
  color: #000000;
  display: inline-block;
  border-bottom: 1px solid #993b00;
  text-decoration: none;
}
header a#btn-connexion {
  float: right;
  font-family: 'motiva_sans', sans-serif;
  font-weight: normal;
  font-size: 0.875em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 0.9em;
  color: #000000;
  display: inline-block;
  text-decoration: none;
  padding: 11px 0 0 0;
  position: relative;
}
header a#btn-connexion .icon-lock {
  font-size: 11px;
  display: block;
  width: 9px;
  height: 11px;
  position: absolute;
  top: 9px;
  left: -13px;
}
header a#btn-connexion .txt-btn {
  display: inline-block;
  border-bottom: 1px solid #993b00;
}
header #bottom-header {
  display: block;
  width: 100%;
  height: 110px;
  background-color: #000000;
}
header a#logo-mysoswing {
  display: block;
  float: left;
  width: 206px;
  height: 85px;
  text-indent: 100%;
  white-space: nowrap;
  background: url("../layoutImg/logo-mysoswing.png") no-repeat 50% 50%;
  overflow: hidden;
  margin: 11px 0 0 0;
}
header #bloc-right-bottom-header {
  display: inline-block;
  vertical-align: top;
  float: right;
}
header #bloc-right-bottom-header ul#menu-header {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 44px 0 0 0;
  list-style-type: none;
}
header #bloc-right-bottom-header ul#menu-header li {
  display: inline-block;
  vertical-align: top;
  margin: 0 44px 0 0;
  padding: 0;
}
header #bloc-right-bottom-header ul#menu-header li a {
  font-family: 'motiva_sansitalic', sans-serif;
  font-weight: normal;
  font-size: 1em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #ffffff;
  text-decoration: none;
}
header a#btn-contact {
  margin: 34px 0 0 0;
}
/* @end */
/* @group Bloc home */
#bloc-home {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 768px;
  /*max-height: 1000px;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 141px 0 96px 0;
}
#bloc-bg-home {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../layoutImg/home/bg.jpg") no-repeat 50% 50%;
  background-size: auto 100%;
  background-size: cover;
  overflow: hidden;
}
#zone-gant {
  display: block;
  width: 607px;
  height: 691px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 0 -647px;
  position: absolute;
  bottom: 96px;
  left: 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate(200px, 600px) rotate(40deg);
  -moz-transform: translate(200px, 600px) rotate(40deg);
  -o-transform: translate(200px, 600px) rotate(40deg);
  -ms-transform: translate(200px, 600px) rotate(40deg);
  transform: translate(200px, 600px) rotate(40deg);
}
#zone-gant #gant {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../layoutImg/home/gant.png") no-repeat 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% 100%;
}
#zone-gant #telephone {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../layoutImg/home/telephone.png") no-repeat 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% 100%;
}
#zone-gant #sur-gant {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../layoutImg/home/sur-gant.png") no-repeat 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% 100%;
}
#bloc-right-home {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 100px 0 0 570px;
  height: auto;
}
h1 {
  font-family: 'motiva_sansbold', sans-serif;
  font-weight: normal;
  font-size: 4.063em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1em;
  color: #000000;
  margin: 0;
  padding: 0;
  letter-spacing: -2px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
a#lien-app-store {
  display: block;
  width: 135px;
  height: 40px;
  background: url("../layoutImg/app-store.png") no-repeat 50% 50%;
  margin: 60px 0 0 0;
  padding: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translate(0px, 20px);
  -moz-transform: translate(0px, 20px);
  -o-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}
/* @end */
/* @group Footer */
footer {
  display: block;
  width: 100%;
  height: 96px;
  position: relative;
  z-index: 2;
  margin: -96px 0 0 0;
}
footer #top-footer {
  display: block;
  width: 100%;
  height: 85px;
  background-color: #000000;
  color: #9d9d9d;
}
footer #top-footer .align-left p {
  font-family: 'motiva_sans', sans-serif;
  font-weight: normal;
  font-size: 0.813em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.2em;
  margin: 27px 0 0 0;
  padding: 0;
}
footer #top-footer ul#menu-footer {
  margin: 34px 0 0 0;
  padding: 0;
  list-style-type: none;
}
footer #top-footer ul#menu-footer li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
footer #top-footer ul#menu-footer li a {
  color: #9d9d9d;
  text-decoration: none;
  margin: 0 0 0 30px;
  font-family: 'motiva_sans', sans-serif;
  font-weight: normal;
  font-size: 0.938em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
footer #bottom-footer {
  display: block;
  width: 100%;
  height: 10px;
  background-color: #ff6300;
  border-top: 1px solid #993b00;
}
/* @end */
/* @group Non semantic Boilerplate */
/* remplacement image */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/* masquage de texte, alternative (buggé?) */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* masqué */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* masqué juste sur l'écran (pas sur RSS ou moteurs) */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* @end */
/* ==|== media queries ======================================================
   ========================================================================== */
/* @group Responsive horizontal */
/* @end */
/* @group Responsive vertical */
@media (max-height: 950px) {
  #zone-gant {
    width: 520px;
    height: 592px;
    margin: 0 0 0 -567px;
  }
}
@media (max-height: 850px) {
  #zone-gant {
    width: 440px;
    height: 501px;
    margin: 0 0 0 -487px;
  }
}
/* @end */
/* retina */
/* ==|== print styles =======================================================
   ========================================================================== */
@media print {
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
