@import "norm.less";
@import "lesshat.less";
@import "fonts.less";

@blanc: #fff;
@noir: #000;
@orange: #ff6300;
@orangeDark: darken(@orange, 20%);
@gris: #9d9d9d;
@border: #a0a0a0;
@grisInput: #6d6d6d;
@error: #da2c13;
@actif: #898989;

// ID des formulaires Gravity //
@choixAbonnement: 11;
@modifAbonnement: 13;
@information: 9;
@coordonees: 12;
@addPlayer: 14;

html,
button,
input,
select,
textarea {
    color: @noir;
}

/* @group Mes styles */

/* @group General */

/* selection */
::-moz-selection {
	background: @noir;
	color: @blanc;
	text-shadow: none;
}
::selection {
	background: @noir;
	color: @blanc;
	text-shadow: none;
}

/* @end */

html, body.home{
  position: relative;
  min-height: 100%;
  height: 100%;
}

html{
  background: @noir;
  &.white{
    background: @blanc;
  }
}

body{
  .motiva(0.9em);
  background: @blanc;
}

h1, h2, h3, strong, b, em, i{
  font-weight: normal;
}

h1, .h1{
  .motivaBold(2.2em);
  border-bottom: 1px dotted @border;
  padding: 0 0 0 20px;
  line-height: 1.3em;
  margin: 35px 0 45px;
}

h2{
  .motivaBold(1.6em);
  line-height: 1.1em;
  margin: 30px 0;
}

a{
  .motivaBold(1em);
  color: @orange;
  .transition(.2s ease-in-out);
  &:hover, &:focus, &:active{
    color: @orangeDark;
    .transition(.2s ease-in-out);
    outline: 0;
  }
  &:active{
    opacity: 0.8;
  }
}

p{
  margin: 10px 0 35px;
  line-height: 20px;
}

blockquote{
  position: relative;
  background: @noir;
  margin: 35px 0;
  color: @blanc;
  padding: 20px 35px;
  border-radius: 4px;
  .motivaIt(1.1em);
  p{
    margin: 0;
  }
  &:before{
    font-size: 11px;
    position: absolute;
    left: 11px;
    top: 23px;
    color: @orange;
  }
}

input, textarea{
  display: inline-block;
  vertical-align: middle;
  .box-shadow(inset 0 2px 3px rgba(0, 4, 10, 0.2));
  border: 1px solid @grisInput;
  border-radius: 4px;
  padding: 9px 13px;
  .motivaIt(1.15em);
  font-size: 1.15em !important;
  .transition(.2s ease-in-out);
  &:focus{
    outline: 0;
    border-color: @orange;
    .box-shadow(inset 0 2px 3px rgba(182, 81, 18, 0.2));
  }
}

input[type=submit], button{
  border: 0;
  vertical-align: middle;
  .transition(.2s ease-in-out);
  &:focus{
    outline: 0;
  }
  &:active{
    opacity: 0.8;
  }
}
button{
  &.btn{
    display: block;
    margin: 0 auto;
  }
}

strong, b{
  .motivaBold(1em);
}

.liste-orange{
  list-style: none;
  padding: 0 0 0 20px;
  li{
    padding: 0 0 10px 15px;
    font-size: .9em;
    &:before{
      content: '•';
      color: @orange;
      font-size: 25px;
      line-height: 0;
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px 0 -15px;
    }
  }
}

.container{
  position: relative;
  width: 100%;
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  .box-sizing(border-box);
  .lt-ie9 &{
    width: 960px;
  }
}
.content{
  padding: 0 20px;
}

.blocGris{
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
  display: inline-block;
  vertical-align: top;
  .box-sizing(border-box);
}

.align-left{
  float: left;
}

.align-right{
  float: right;
}

.caps{
  text-transform: uppercase;
}

.small-title{
  margin: 40px 0 0 20px;
  display: block;
}

/* @end */

/* @group btn */

.btn, .btnReverse{
  display: inline-block;
  vertical-align: top;
  padding: 10px 44px;
  .motivaIt(1.1em);
  text-decoration: none;
  .border-radius(5px);
  height: 42px;
  .box-sizing(border-box);
  &:hover, &:focus, &:active, &.actif{
    .box-shadow(0 1px 3px @orangeDark);
    padding-top: 12px;
    padding-bottom: 8px;
  }
  &.actif{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.btn{
  background: @orange;
  color: @blanc;
  .box-shadow(0 3px 0 @orangeDark);
  &:hover, &:focus, &:active, &.actif{
    color: @blanc;
    background: darken(@orange, 5%);
  }
}

.btnReverse{
  background: #fff;
  color: @orange;
  border: 1px solid @orange;
  .box-shadow(0 3px 0 darken(@orange, 5%));
  &:hover, &:focus, &:active, &.actif{
    border-color: @orangeDark;
  }
}

.btn-inline{
  color: #ee7318;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid @orangeDark;
  text-decoration: none;
  padding: 2px 0 0 0;
  line-height: 0.8em;
}

.btnIt{
  .motivaIt(1.1em);
  float: right;
  &:after{
    content: '›';
    position: absolute;
    padding: 0 0 0 5px;
  }
}

.btnItExt, .btnItPrev, .btnArrow{
  padding: 0 0 0 7px;
  position: relative;
  &:before{
    position: absolute;
    left: 0;
  }
}
.btnItPrev{
  .motivaIt(1.1em);
  float: left;
  &:before{
    content: '‹';
  }
}
.btnArrow, .btnItExt{
  &:before{
    content: '›';
  }
  &.rouge{
    color: #ff0000;
  }
}
.btnItExt{
  .motivaBoldIt(1.1em);
}

.plus{
  .size(125px);
  background: @blanc;
  display: inline-block;
  line-height: 173px;
  color: #ccc;
  text-decoration: none;
  border: 1px solid #e7e7e7;
  font-size: 135px;
  &:hover, &:focus, &:active{
    color: #fff;
    border-color: #fff;
    background: #ccc;
  }
  .lt-ie9 &{
    line-height: 135px;
  }
}

/* @end */

/* @group Header */

header{
  width: 100%;
  z-index: 2;
  position: relative;
  background-image: url(../layoutImg/banner.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 100% auto;
  padding: 0 0 13%;
  &.pro{
    background-image: url(../layoutImg/bannerPro.png);
  }
  .lt-ie9 &{
    .btn{
      padding: 10px 30px
    }
  }
}

#top-header{
  height: 30px;
  background: @orange;
  border-bottom: 1px solid @orangeDark;
  p.topMentions {
	float: right;
	margin: 0;
	.motivaBoldIt(1em);
	line-height: 30px;
	height: 30px;
	display: block;
	a {
		.motivaBoldIt(1em);
		color: @blanc;
	}
  }
}

#menu-langues{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 7px 0 0 0;
  float: left;
  li{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
    &:last-of-type{
      margin: 0;
    }
    &.active{
      a{
        color: @blanc;
        .motivaLtIt(1em);
        border-bottom-width: 0px;
      }
    }
    a{
      .motiva(1em);
      line-height: 0.9em;
      color: @noir;
      display: inline-block;
      border-bottom: 1px solid @orangeDark;
      text-decoration: none;
      text-transform: uppercase;
      &:hover, &:focus, &:active{
        color: @blanc;
        border-color: @blanc;
      }
    }
  }
}

#bottom-header{
  height: 110px;
  background-color: @noir;
}

#btn-connexion, #btn-account{
  float: right;
  .motiva(1em);
  line-height: 0.7em;
  color: @noir;
  display: inline-block;
  text-decoration: none;
  padding: 11px 0 0 0;
  position: relative;
  span:first-child{
    display: block;
    width: 9px;
    height: 11px;
    position: absolute;
    top: 9px;
    left: -13px;
    .transition(.2s ease-in-out);
  }
  .txt-btn{
    display: inline-block;
    border-bottom: 1px solid @orangeDark;
    .transition(.2s ease-in-out);
  }
  &:hover, &:focus, &:active{
    span:first-child, .txt-btn{
      color: @blanc;
      .transition(.2s ease-in-out);
    }
    .txt-btn{
      border-color: @blanc;
    }
  }
}
#btn-connexion{
  .icon-lock{
    font-size: 11px;
  }
}
#btn-account{
  margin: 0 0 0 30px;
  .icon-account{
    font-size: 12px;
  }
}

#logo{
  display: block;
  float: left;
  .size(206px, 85px);
  text-indent: 100%;
  background: url(../layoutImg/logo-mysoswing.png) no-repeat;
  margin: 11px 0 0;
  overflow: hidden;
  position: relative;
  span{
    position: absolute;
    bottom: 7px;
    right: 71px;
    font-size: 19px;
    color: @orange;
  }
}

#menu{
  display: inline-block;
  vertical-align: top;
  float: right;
  li{
    display: inline-block;
    vertical-align: top;
    margin: 0 44px 0 0;
    padding: 0;
    &.current-menu-item a, &.current_page_parent a{
      color: @orange;
      border-bottom: 1px solid;
    }
    a{
      .motivaIt(1.1em);
      color: @blanc;
      text-decoration: none;
      &:focus, &:active{
        color: @orange;
      }
      &.actif{
        color: @orange;
        border-bottom: 1px solid;
      }
      .no-js &{
        &:hover{
          color: @orange;
        }
      }
    }
  }
  .lt-ie9 &{
    li{
      margin: 0 20px 0 0;
    }
  }
}

.contact-en{
  &:extend(#menu li);
  &:extend(#menu li a all);
}

#menu-header{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 44px 0 0;
}

#btn-contact{
  margin: 34px 0 0;
  &.contact-en{
    margin: 43px 0 0;
  }
}
#btn-pro{
  margin: 34px 37px 0 0;
  .lt-ie9 &{
    margin-right: 20px;
  }
}

#burger{
  float: right;
  margin: 35px 0;
  padding: 10px 13px;
  width: 25px;
  height: 19px;
  position: relative;
  overflow: hidden;
  display: none;
  .box-sizing(content-box);
  i{
    display: block;
    width: 25px;
    height: 3px;
    background: @blanc;
    border-radius: 8px;
    position: absolute;
    .transition(.2s ease-in-out);
  }
  #b1{
    top: 10px;
  }
  #b2{
    top: 18px;
  }
  #b3{
    top: 26px;
  }
  &.on{
    i{
      .transition(.2s ease-in-out);
    }
    #b1{
      top: 18px;
      .transform(rotate(45deg));
    }
    #b2{
      .transform(rotate(-45deg));
    }
    #b3{
      top: 50px;
    }
  }
}

/* @end */

/* @group Footer */

footer{
  position: relative;
  z-index: 2;
  margin: 65px 0 0;
  &.bottom{
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  .lt-ie9 &{
    br{
      display: none;
    }
  }
}
#top-footer{
  background: @noir;
  color: @gris;
  .align-left{
    .motiva(0.9em);
    line-height: 1.2em;
    margin: 28px 0;
    padding: 0;
  }
  .lt-ie9 &{
    .align-left{
      margin-bottom: 15px;
      float: none;
      text-align: center;
    }
  }
}
#menu-footer{
  margin: 34px 0 31px;
  padding: 0;
  list-style: none;
  li{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
  }
  a{
    color: @gris;
    text-decoration: none;
    margin: 0 0 0 30px;
    .motiva(1.05em);
    &:hover, &:focus, &:active{
      color: @blanc;
    }
  }
  .lt-ie9 &{
    float: none;
    display: block;
    margin: 0 0 18px;
    text-align: center;
    a{
      margin: 0 15px;
    }
  }
}
#bottom-footer{
  height: 10px;
  background: @orange;
  border-top: 1px solid @orangeDark;
}

/* @end */

/* @group Home */

.home{
  header{
    position: absolute;
    background: none;
    padding: 0;
  }
  footer{
    margin: -96px 0 0;
  }
  h1{
    font-size: 4.063em;
    line-height: 1em;
    color: @noir;
    margin: 0;
    padding: 0;
    letter-spacing: -2px;
    .opacity(0);
    border: 0;
  }
}

#bloc-home{
  position: relative;
  height: 100%;
  min-height: 768px;
  .box-sizing(border-box);
  padding: 141px 0 96px 0;
  .homeTemp &{
    min-height: 900px;
  }
}

#bloc-bg-home{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../layoutImg/home/bg.jpg) no-repeat 50% 50%;
  background-size: auto 100%;
  background-size: cover;
  overflow: hidden;
}

#zone-gant{
  width: 607px;
  height: 691px;
  .box-sizing(border-box);
  padding: 0;
  margin: 0 0 0 -647px;
  position: absolute;
  bottom: 96px;
  left: 50%;
  .transform-style(preserve-3d);
  .backface-visibility(hidden);
  .transform(translate(200px, 600px), rotate(40deg));
  > div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
#gant{
  background: url(../layoutImg/home/gant.png);
}
#telephone{
  background: url(../layoutImg/home/telephone.png);
  .uk &{
    background: url(../layoutImg/uk/telephone.png);
    background-size: 100% 100%;
  }
}
#sur-gant{
  background: url(../layoutImg/home/sur-gant.png);
}

#bloc-right-home{
  width: 100%;
  .box-sizing(border-box);
  padding: 100px 0 280px 52%;
  height: auto;
  position: relative;
  overflow: hidden;
  a#pastilleNGF {
  	position: absolute;
  	display: block;
  	width: 278px;
  	height: 270px;
  	background: url(../layoutImg/pastilleNGF.png) no-repeat 0 0;
  	right: 25%;
  	bottom: 0;
  	margin: 0;
  	padding: 0;
  	text-indent: -9000px;
  	overflow: hidden;
  	.transition(bottom 0.1s ease-in-out);
  	.opacity(0);
  	&:hover {
  		bottom: 5px;
  	}
  	&:active {
  		margin-bottom: -5px;
  	}
  	&.no-js {
  		.opacity(1);
  	}
  }
}

#lien-app-store{
  display: none;
  width: 135px;
  height: 40px;
  background: url(../layoutImg/app-store.png) no-repeat 50% 50%;
  margin: 60px 0 0 0;
  padding: 0;
  .opacity(0);
  .transform(translate(0, 20px));
}


.homeTemp{
  #top-header{
    height: 10px;
  }

  #bloc-bg-home{
    background-position: 50% 90px;
  }

  button{
    .no-js &, &.hidden, .lt-ie9 &{
      display: none;
    }
  }

  .lt-ie9 &{
    #menu-footer{
      margin: 34px 0 31px;
    }
  }

  #menu{
    .current-menu-item + .current-menu-item a{
      color: @blanc;
      border: 0;
    }
    li + li{
      margin: 0;
    }
  }

  &.home{
    h1{
      opacity: 1;
      .motivaBoldIt(3.2em);
      text-align: center;
      width: 640px;
      margin: 50px auto 30px;
      + p{
        font-size: 1.15em;
        text-align: center;
      }
    }
    form{
      width: 305px;
      margin: 200px auto 0;
      opacity: 0;
      .no-js &, &.here, .lt-ie9 &{
        margin: 0 auto;
        opacity: 1;
      }
    }

    input[type=submit]{
      padding: 10px 24px;
    }
    input{
      max-width: 144px;
    }
  }
}

.fail{
  text-align: center;
  .motivaBold(1.2em);
  margin-bottom: 5px;
}

/* @end */

/* @group Solution */

.page-template-solution{
  header{
    background-image: url(../layoutImg/bannerSolution.jpg);
    padding: 0 0 30%;
    + .container{
      margin: 30px auto 0;
      .lt-ie9 &{
        text-align: center;
        .clearfix{
          margin: 0 0 30px;
        }
      }
    }
  }

  h1{
    width: 300px;
    .motivaIt(1.5em);
    border: 0;
    padding: 0;
    float: left;
    .lt-ie9 &{
      float: none;
      width: 100%;
    }
  }

  .lt-ie9 &{
    .btnIt{
      float: none;
    }
  }
}

.videoContainer{
  display: inline-block;
  position: absolute;
  right: 40px;
  margin: 4% 0 0;
  iframe, embed{
    border: 5px solid rgba(0, 0, 0, 0.7);
    max-width: 100%;
  }
}

.schema{
  float: right;
  .lt-ie9 &{
    float: none;
  }
  .icon-fleche{
    color: #6b6b6b;
    padding: 0 15px;
    font-size: 12px;
  }
}

/* @end */


/* @group Partenaires */

.partenaire, .devenir{
  height: 425px;
  h2{
    font-size: 1.95em;
    margin: 50px 0 25px;
  }
  p{
    color: #747474;
    .motivaIt(1em);
    line-height: 17px;
    margin-bottom: 25px;
  }
}

.partenaire{
  width: 65%;
  margin: 0 1% 0 0;
  padding: 50px 60px;
  img{
    max-width: 100%;
    height: auto;
  }
}
.devenir{
  width: 34%;
  padding: 40px 30px;
  text-align: center;
  h2{
    margin: 35px 0 15px;
  }
}

/* @end */


/* @group Contact */

.infoContact, .infoContact.sidebarFormCol2{
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding: 30px 45px 0 20px;
  font-size: 1.1em;
  .box-sizing(border-box);
}

.formContainer{
  width: 75%;
  padding: 30px 40px;
  position: relative;
  &.error{
    margin-top: 100px;
  }
  input[type=text], input[type=email]{
    padding: 9px 13px 7px;
    width: 230px !important;
    .box-sizing(border-box);
  }
  .btn, form +p{
    margin: 20px 0 0 19%;
  }
}

label{
  width: 19%;
  .box-sizing(border-box);
  text-align: right;
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 1.1em;
  margin: 0 !important;
  &.required{
    .motivaBold(1.1em);
  }
}
.labelMsg{
  padding-top: 10px;
}

fieldset{
  margin: 0 0 20px;
  &.error{
    label{
      color: @error;
    }
    input, textarea{
      border-color: @error;
    }
  }
}

textarea, #objet{
  width: 81%;
}

textarea{
  height: 175px;
  vertical-align: top;
  .box-sizing(border-box);
}

.blocError{
  position: absolute;
  margin: 0;
  padding: 25px 40px 22px;
  border: 5px solid @error;
  width: 100.5%;
  top: -101px;
  left: -1px;
  .motivaBoldIt(1.1em);
  .box-sizing(border-box);
}

.succes{
  padding-left: 20px;
  font-size: 1.1em;
  b{
    .motivaBoldIt(1.1em);
  }
}

/* @end */

/* @group NGF */

.infoNgf {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding: 0px 45px 0 20px;
  font-size: 1.1em;
  .box-sizing(border-box);
  img {
  	margin-bottom: 1em;
  }
}

#golf-list {
	display: inline-block;
	width: 100%;
	list-style: none;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	li {
		margin: 1em 4% 1em 0;
		padding: 2em 1em;
		border-top: 1px dotted @border;
		border-bottom: 1px dotted @border;
		display: inline-block;
		width: 29%;
		vertical-align: top;
		.box-sizing(border-box);
		h2 {
			margin: 0 0 0.4em 0;
			.motivaBoldIt(1.3em);
		}
		p {
			margin: 0;
			&.tel-golf {
				.motivaBold(1em);
				margin: 0.2em 0;
			}
		}
		a {
			font-size: 1em;
			margin: 0.2em 0 0 0;
		}
		&#temporary {
			display: inline-block;
			text-align: center;
			vertical-align: center;
			border: 0 none;
			color: @gris;
			.motivaIt(1em);
			padding-top: 150px;
			padding-left: 30px;
			float: right;
		}
	}
}

/* @end */

/* @group Rdv Live + Blog */

.categories, .live{
  display: inline-block;
  vertical-align: top;
}

.categories{
  width: 28%;
  margin: 0 2% 0 0;
  .h1{
    margin-top: 14px;
    padding-bottom: 12px;
  }
  ul{
    list-style: none;
    padding: 0 0 0 20px;
  }
  a{
    padding: 0 0 0 7px;
    position: relative;
    &:before{
      content: '›';
      position: absolute;
      left: 0;
    }
    &.actif{
      text-decoration: none;
      color: @actif;
      .motiva(1em);
    }
  }
  li{
    &.current-cat a{
      text-decoration: none;
      color: @actif;
      .motiva(1em);
    }
  }
}

.live{
  width: 70%;
  h2, h1{
    span{
      .motivaIt(1em);
      line-height: 35px;
    }
  }
  .btnIt, .btnItPrev{
    margin: 30px 0 0;
  }
  .h1{
    padding: 0;
    .btnItPrev{
      font-size: 0.45em;
      margin: 0;
    }
  }
  .content{
    h1{
      padding: 0;
      border: 0;
      margin: 15px 0 20px;
      line-height: 1.1em;
      span{
        .motivaIt(1em);
      }
    }
    .wp-post-image{
      float: left;
      padding: 0 20px 10px 0;
    }
    img{
      max-width: 100%;
      height: auto;
    }
  }
}

.hang{
  text-indent: -999em;
  display: block;
  max-width: 260px;
  height: 135px;
  width: 100%;
  background: url(../layoutImg/hangouts.png) no-repeat;
  background-size: 100%;
  margin: 50px 0 0;
  padding: 0;
  &:hover, &:focus{
    opacity: 0.8;
    margin-top: 55px;
  }
}

.time{
  color: @orange;
  .motivaIt(1em);
}

.rdvNow{
  background: @noir;
  padding: 30px 20px;
  position: relative;
  margin: 0 0 20px;
  h2, p{
    color: @blanc;
  }
  h2{
    margin: 0 0 20px;
  }
  p{
    margin-bottom: 10px;
  }
  .time{
    position: absolute;
    top: -17px;
    left: 20px;
    background: @noir;
    border-radius: 5px;
    padding: 6px 12px;
  }
  .btn{
    position: absolute;
    right: 40px;
    bottom: -15px;
    &:before{
      content: '';
      display: inline-block;
      background: url(../layoutImg/btnLive.png) no-repeat;
      width: 12px;
      height: 18px;
      margin: 0 7px 0 0;
    }
  }
  .btnIt{
    margin: 0;
    .motivaBoldIt(1.1em);
    &:after{
      content: '';
    }
  }
  img{
    float: left;
    padding-right: 20px;
    max-width: 100%;
    height: auto;
  }
}

h1{
  + .rdv, + .rdv + .rdv{
    padding-top: 0;
    border-top: 0;
    margin-top: -20px;
  }
}
.rdv{
  display: inline-block;
  width: 49%;
  border-top: 1px dotted @border;
  border-bottom: 1px dotted @border;
  margin: 15px .5% 0 0;
  padding: 30px 20px 15px;
  .box-sizing(border-box);
  vertical-align: top;
  .search &{
    margin-right: 0;
    margin-left: .5%;
  }
  &:nth-of-type(2n+1){
    margin-right: 0;
    margin-left: .5%;
    .search &{
      margin-right: .5%;
      margin-left: 0;
    }
  }
  .lt-ie9 &{
    width: 48%;
    margin: 15px .5% 0;
  }
  h2{
    font-size: 0.98em;
    margin: 10px 0;
    height: 30px;
    overflow: hidden;
    span{
      color: @grisInput;
    }
  }
  a{
    .motivaBoldIt(1em);
  }
  img{
    display: block;
    padding: 0 0 15px;
    max-width: 100%;
    height: auto !important;
  }
}

.searchform{
  text-align: center;
  margin: 45px 0 0;
  padding: 20px 0;
  border-top: 1px dotted @border;
  border-bottom: 1px dotted @border;
  fieldset{
    display: inline-block;
    margin: 0;
  }
}
.searchInput{
  min-width: 122px;
  width: 59%;
  margin: 0 3% 0 0;
}
.searchSubmit{
  padding: 10px 12px;
  font-size: 24px;
}

.rss{
  width: 19px;
  height: 19px;
  display: block;
  position: absolute;
  top: 45px;
  right: 20px;
  text-indent: -999em;
  background: url(../layoutImg/rss.png) no-repeat;
  &:hover, &:focus{
    top: 47px;
    opacity: 0.8;
  }
}

/* @end */


/* @group Fonctionnalites */

.fonctionnalites, .pagePro{
  aside{
    width: 28%;
    display: inline-block;
    vertical-align: top;
    a{
      &.actif{
        .motiva(1em);
        color: @actif;
        span{
          text-decoration: none;
        }
      }
    }
  }
  ul{
    list-style: none;
    padding: 0 0 0 20px;
  }
  h2{
    margin-bottom: 15px;
    span{
      display: inline-block;
      .size(33px);
      background: @orange;
      color: @blanc;
      border-radius: 50px;
      text-align: center;
      line-height: 35px;
      margin: 0 8px 0 0;
    }
    + p{
      margin: 10px 0 20px 10px;
    }
  }
  a{
    text-decoration: none;
    span{
      text-decoration: underline;
    }
  }
  .btnIt{
    margin-right: 10px;
  }
  + footer{
    margin: 0;
  }
}

.pagePro{
  aside{
    margin: 30px 0 0;
  }
}

body .gform_wrapper .gf_page_steps{
  margin: 35px 0 45px;
  .gf_step{
    height: auto;
    &:not(.gf_step_last){
      &:after{
        content: '›';
        display: inline-block;
        vertical-align: middle;
        margin: -7px 15px 0 30px;
        font-size: 15px;
      }
    }
    &.gf_step_pending{
      opacity: .35;
      .gf_step_number{
        background: #808080;
      }
    }
  }
  span, span.gf_step_number{
    &:extend(h2);
  }
  .gf_step_label{
    font-size: 1.4em;
  }
  span.gf_step_number{
    &:extend(.pagePro h2 span);
    float: none;
    margin: 0;
  }
}

#slider{
  width: 72%;
  display: inline-block;
  vertical-align: top;
  margin-top: -50px;
}

.slider{
  margin: 0;
  height: 460px;
  position: relative;
  padding: 0;
  .no-js &{
    height: auto;
  }
  li{
    position: absolute;
    opacity: 0;
    width: 100%;
    .lt-ie9 &{
      display: none;
      &.on{
        display: block;
      }
    }
    &.on{
      opacity: 1;
    }
    .no-js &{
      position: relative;
      height: 600px;
      opacity: 1;
    }
  }
}

.slidesTxt{
  width: 45%;
  position: absolute;
  top: 70px;
  display: none;
  .no-js &{
    display: block;
    right: 20px !important;
    opacity: 1 !important;
  }
}

.slides{
  position: absolute;
  width: 459px;
  height: 521px;
}
#demande .slides{
  background: url(../layoutImg/demande.png);
  .uk &{
    background: url(../layoutImg/uk/demande.png) no-repeat;
  }
}
#probleme .slides{
  background: url(../layoutImg/probleme.png) no-repeat;
  .uk &{
    background: url(../layoutImg/uk/probleme.png) no-repeat;
  }
}
#video .slides{
  background: url(../layoutImg/video.png) no-repeat;
  .uk &{
    background: url(../layoutImg/uk/video.png) no-repeat;
  }
}
#reponse .slides{
  background: url(../layoutImg/reponse.png) no-repeat;
  .uk &{
    background: url(../layoutImg/uk/reponse.png) no-repeat;
  }
}
#offre .slides{
  background: url(../layoutImg/offre.png) no-repeat 50% 65%;
}

.blocPlayer{
  padding: 0 20px 15px;
  text-align: center;
  margin: 40px 0;
  background: #f8f8f8;
  border: 1px solid #a0a0a0;
  max-width: 250px;
  h3{
    .motivaBold(1.5em);
    margin: .7em 0 0;
  }
  .btnReverse{
    .lt-ie9 &{
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

.demandeInfo{
  position: absolute;
  right: 20px;
  bottom: 80px;
  .btn{
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* @end */


/* Compte */

.menu-compte, .compte{
  display: inline-block;
  vertical-align: top;
}

.menu-compte{
  width: 23%;
  margin: 0 3% 0 0;
  .submenu{
    &:extend(.categories ul);
  }
  a{
    &:extend(.categories a all);
  }
}
.compte{
  width: 74%;
  h2{
    border-bottom: 1px dotted #a0a0a0;
    padding: 0 0 8px;
    margin: 43px 0 45px;
  }
  h3{
    margin: 0 0 5px;
    .motivaBold(1em);
  }
  .formContainer{
    width: 100%;
  }
}

.bordered{
  border-top: 1px dotted #a0a0a0;
  border-bottom: 1px dotted #a0a0a0;
  display: inline-block;
  padding: 20px 0;
  margin: 0 0 20px;
  .old{
    padding: 0 0 12px;
    opacity: .5;
    display: block;
  }
  > span{
    span{
      padding: 0 25px 0 0;
    }
  }
}

#gform_wrapper_@{addPlayer}{
  ul, .gform_body, .gform_footer{
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
  }
  .ginput_container{
    margin: 0;
  }
}

#gform_fields_@{addPlayer}{
  label{
    text-align: left;
    width: auto;
    max-width: 125px;
  }
  li.gfield{
    display: inline-block;
  }
  input{
    background: #f8f8f8;
    .box-shadow(none);
    border-color: #b5b5b5;
    border-radius: 10px;
    padding: 11px 13px 8px;
    &:focus{
      border-color: @orange;
      background: #fefefe;
    }
  }
}

#gform_submit_button_@{addPlayer}{
  margin: 0;
}

#input_@{addPlayer}_4{
  width: 60px;
  .motivaIt(1em);
  margin: 0 80px 0 0;
  .lt-ie10 &{
    margin: 0 60px 0 0;
  }
}
#input_@{addPlayer}_3{
  width: 250px;
  margin: 0 40px 0 0;
}

/* @end */


/* GRAVITY */

.formContainer.gravity{
  padding: 30px 20px;
  p{
    margin: 20px 0 0;
    span{
      margin: 0 0 0 19%;
    }
  }
  .col2{
    padding: 0;
    p{
      width: 49%;
      span{
        margin: 0 0 0 35%;
        .lt-ie9 &{
          margin-left: 0;
        }
      }
    }
  }
}

.star{
  color: @orange;
  .motivaBold(1em);
}

body{
  .gform_wrapper{
    margin: 0;
    max-width: 100%;
    label.gfield_label+div.ginput_container{
      display: inline-block;
    }
    .gfield_required{
      margin: 0;
      color: @orange;
    }
    input{
      &[type=email], &[type=number], &[type=password], &[type=tel], &[type=text], &[type=url]{
        text-indent: 0;
        padding: 7px 13px 5px;
      }
    }
    .gform_footer{
      input[type=submit]{
        &:extend(.btn);
        margin: 15px 0 0 19%;
        &:hover, &:focus, &:active{
          &:extend(.btn:hover);
        }
      }
    }
    .top_label{
      li.gfield{
        margin: 0 0 20px !important;
      }
    }

    div.validation_error{
      &:extend(.blocError);
      color: #000;
      position: relative;
      margin-bottom: 1.6em;
      top: 0;
      left: 0;
    }
    .ginput_container+.gfield_description.validation_message{
      display: none;
    }
    li.gfield.gfield_error, li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
      background: none;
      border: 0;
    }
    .gfield_error{
      .gfield_required, .gfield_label{
        color: @error;
      }
      &.gfield_contains_required div.ginput_container{
        margin-left: 0 !important;
      }
    }
    li.gfield_error input[type=email], li.gfield_error input[type=number], li.gfield_error input[type=password], li.gfield_error input[type=tel], li.gfield_error input[type=text], li.gfield_error input[type=url], li.gfield_error textarea{
      border-color: @error;
    }
    .gform_page_footer{
      border: 0;
      text-align: right;
      width: 100%;
      input[type=button], input[type=submit]{
        &:extend(.btn);
        &:hover, &:focus, &:active{
          &:extend(.btn:hover);
        }
        border: 0;
        margin-right: 5px !important;
        &.gform_previous_button{
          background: none;
          border: 0;
          color: @orange;
          text-decoration: underline;
          float: left;
          padding: 0;
          .box-shadow(none);
          &:hover, &:focus{
            color: @orangeDark;
          }
        }
      }
    }
    &.gf_browser_ie{
      input[type=button], input[type=submit]{
        padding: 10px 44px !important;
        &:hover, &:focus, &:active{
          padding-top: 12px !important;
          padding-bottom: 8px !important;
        }
      }
      .lt-ie9 &{
        label.gfield_label+div.ginput_container{
          display: block;
        }
      }
    }
  }
}

.col2{
  .gfield_label{
    width: 35%;
    .lt-ie9 &{
      width: 100%;
      display: block;
      text-align: left;
    }
  }
  .gform_wrapper{
    .gform_footer{
      width: 49%;
      input[type=submit]{
        margin: 15px 0 0 35%;
        .lt-ie9 &{
          margin-left: 0;
        }
      }
    }
  }
}

.gfield_label{
  vertical-align: middle;
  font-weight: normal !important;
  .motiva(1em);
}
.gfield_contains_required{
  .gfield_label{
    .motivaBold(1em);
  }
}

#field_@{choixAbonnement}_27, #field_@{modifAbonnement}_14{
  &:extend(.infoContact.sidebarFormCol2);
}

#field_@{information}_11, #field_@{information}_12,
#field_@{choixAbonnement}_5, #field_@{choixAbonnement}_7,
#field_@{coordonees}_1, #field_@{coordonees}_2,
#field_@{modifAbonnement}_5, #field_@{modifAbonnement}_7{
  margin: 0 0 10px !important;
}
#field_@{information}_18, #field_@{information}_14,
#field_@{choixAbonnement}_15, #field_@{choixAbonnement}_8,
#field_@{coordonees}_8, #field_@{coordonees}_3,
#field_@{modifAbonnement}_17, #field_@{modifAbonnement}_8{
  margin: 0 !important;
}
#field_@{information}_18, #field_@{information}_16,
#field_@{choixAbonnement}_24, #field_@{choixAbonnement}_15,
#field_@{coordonees}_8, #field_@{coordonees}_18,
#field_@{modifAbonnement}_17, #field_@{modifAbonnement}_16{
  select{
    width: 229px !important;
  }
}

#field_@{information}_6, #field_@{choixAbonnement}_17, #field_@{coordonees}_10{
  margin-top: 30px !important;
}
#field_@{information}_15, #field_@{choixAbonnement}_25, #field_@{coordonees}_15{
  background: #fff;
  border: 1px dotted #cfcfcf;
  padding: 24px;
  float: right;
  .box-sizing(border-box);
  margin-top: 34px !important;
  .gfield_label{
    min-width: 95px;
  }
}

#input_@{information}_5, #input_@{choixAbonnement}_14, #input_@{coordonees}_17, #input_@{modifAbonnement}_15{ //tel
  width: 170px !important;
}
#input_@{information}_9, #input_@{choixAbonnement}_3, #input_@{coordonees}_12, #input_@{modifAbonnement}_3{ //nom
  width: 200px !important;
}
#input_@{information}_14, #input_@{choixAbonnement}_8, #input_@{coordonees}_3, #input_@{modifAbonnement}_8{ //cp
  width: 110px !important;
}

select{
  border: 1px solid #b3b3b3;
  width: 120px !important;
  cursor: pointer;
  height: 27px;
  outline: 0;
  .motiva(1em);
  background: #ededed;
}

.gform_confirmation_wrapper{
  + p{
    display: none;
  }
}

.gform_wrapper .textarea_container{ //textarea
  .ginput_container{
    width: 81%;
    vertical-align: top;
  }
  textarea{
    width: 100% !important;
    height: 175px !important;
  }
  .gfield_label{
    padding-top: 15px;
  }
}

#field_@{choixAbonnement}_13, #field_@{modifAbonnement}_13{
  display: inline-block;
  width: 36%;
  margin: 0 4% 0 0 !important;
  padding: 220px 0 0;
  background: url(../layoutImg/offreSmall.png) no-repeat 40px 30px;
  ul{
    list-style-type: none !important;
  }
  li{
    list-style-type: none !important;
    &:extend(.liste-orange li all);
  }
}
#field_@{choixAbonnement}_11, #field_@{modifAbonnement}_11{
  display: inline-block;
  width: 60%;
  vertical-align: top;
  .gfield_label{
    display: none;
  }
  .ginput_container{
    display: block;
  }
  .gfield_radio{
    margin: 40px 0 0 !important;
    li{
      width: 200px;
      display: inline-block;
      margin: 0 0 25px 18px !important;
      .box-shadow(0 75px 65px -75px #9b9b9b);
      .lt-ie9 &{
        width: 250px;
        margin: 0 0 25px 32px !important;
      }
      label{
        text-align: center;
        color: #fff;
        cursor: pointer;
      }
      input{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100% !important;
        margin: 0;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: 0;
        .box-shadow(none);
        z-index: -1;
        &:checked{
          +label{
            .btn{
              &:extend(.btn.actif);
            }
            .pack-orange{
              .btn{
                background: rgba(255, 255, 255, .8);
                color: @orangeDark;
              }
            }
          }
        }
      }
      &:hover{
        .btn{
          &:extend(.btn:hover);
        }
        .pack-orange{
          .btn{
            &:extend(.btnReverse:hover);
            background: #fff;
            color: @orangeDark;
          }
        }
      }
    }
  }
  .btn{
    padding: 10px 17px;
    .transition(.3s ease-in-out);
  }
}
.pack{
  padding: 20px 10px 10px;
  background: #afafaf;
  .pack-title{
    color: #afafaf;
  }
  .pack-player{
    color: #4c4c4c;
  }
  &.pack-blanc{
    background: #fff;
    padding: 19px 10px 9px;
    border: 1px solid #afafaf;
    .pack-title{
      background: #afafaf;
      color: #fff;
    }
    .pack-player{
      color: #afafaf;
    }
    .pack-price{
      color: #808080;
      border-color: @orange;
    }
  }
  &.pack-gris-fonce{
    background: #808080;
    .pack-title{
      background: #afafaf;
      color: #fff;
    }
    .pack-player{
      color: #d2d2d2;
    }
  }
  &.pack-orange{
    background: #ff864b;
    .pack-title{
      color: @orange;
    }
    .pack-player{
      color: #ffd0b9;
    }
    .btn{
      &:extend(.btnReverse);
      &:hover, &:focus, &:active{
        &:extend(.btnReverse:hover);
      }
    }
  }
}
.pack-title{
  text-transform: uppercase;
  background: #fff;
  border-radius: 4px;
  width: 120px;
  margin: 0 auto 15px;
  .motivaBold(.8em);
  padding: 2px 0 0;
  .lt-ie9 &{
    width: 140px;
  }
  &.alone{
    margin-bottom: 2px;
    color: #fff;
    background: #afafaf;
    padding: 2px 0;
    font-size: 1em;
  }
}
.pack-player{
  .motivaBold(1.1em);
}
.pack-price{
  width: 95px;
  height: 120px;
  line-height: 120px;
  margin: 15px auto;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  .lt-ie9 &{
    width: 100px;
  }
}
.pack-price-wrapper {
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  margin: 0 -40px;
}
.pack-price-price{
  font-size: 4em;
  line-height: 1;
  letter-spacing: -4px;
  span{
    .motivaBold(0.375em);
  }
}
.pack-price-subprice{
  .motivaBold(.9em);
  width: 80px;
  display: block;
  margin: -7px auto 3px;
  line-height: 1.2em;
  .lt-ie9 &{
    width: 100px;
  }
}
.pack-price-discount {
    font-size: 1.5em;
    text-decoration: line-through;
    span{
      .motivaBold(0.375em);
    }
}

.gform_wrapper h3{
  .motivaBold(1.45em);
  margin: 13px;
}

#field_@{coordonees}_16{
  .ginput_complex{
    span{
      display: block;
      margin: 0;
    }
    label{
      font-size: 1em;
      letter-spacing: 0;
      white-space: normal;
      width: 100%;
      text-align: left;
      margin: 5px 0 15px !important;
    }
    input{
      width: 90%;
    }
  }
}

/* PLAYERS */

.myPlayers{
  text-align: center;
  > div{
    display: inline-block;
    vertical-align: top;
  }
}

.nbPlayers{
  position: relative;
  float: left;
  width: 315px;
  > div{
    width: 140px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #afafaf;
    border-radius: 4px;
    padding: 15px 10px 10px;
    .box-sizing(border-box);
  }
  .legend{
    color: #898989;
    font-size: 12px;
    display: inline-block;
    width: 80px;
    vertical-align: middle;
  }
  .nb{
    .motivaBold(50px);
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
  }
  .invite{
    margin: 0 35px 0 0;
    .legend{
      text-align: right;
      margin: 0 4px 0 0;
    }
    .nb{
      color: @orange;
    }
    &:after{
      content: '/';
      color: #b5b5b5;
      font-size: 30px;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 10px;
      height: 30px;
    }
  }
  .total{
    .nb{
      margin: 0 2px 0 0;
      color: #afafaf;
    }
    .legend{
      text-align: left;
    }
  }
}

.abonnementActuel{
  width: 140px;
  text-align: center;
  span{
    font-size: 13px;
    color: #afafaf;
    &:first-child{
      .motivaIt(13px);
    }
  }
  strong{
    display: block;
  }
}

.sup{
  width: 210px;
  text-align: center;
  float: right;
  p{
    margin: 0;
  }
}

.player{
  position: relative;
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
  padding: 20px 15px;
  .box-sizing(border-box);
  .numPlayer{
    .motivaBold(1em);
    text-transform: uppercase;
    display: inline-block;
    text-transform: uppercase;
    width: 100px;
  }
  .openPlayer{
    position: absolute;
    top: 20px;
    right: 15px;
  }
  .detail{
    margin: 40px 0 0 100px;
    display: none;
    p{
      width: 50%;
      display: inline-block;
      vertical-align: top;
    }
    span{
      display: block;
      font-size: .8em;
      margin: 5px 0 0;
    }
  }
}

.loginForm{
  max-width: 500px;
  .blocError{
    position: relative;
    margin: 0 0 40px;
    top: 0;
    left: 0;
  }
  input{
    display: block;
    margin: 0 0 10px;
    &[type=submit]{
      margin: 20px 0 0;
    }
  }
}

/* @group Non semantic Boilerplate */

/* remplacement image */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}
.ir:before {
    content: '';
    display: block;
    width: 0;
    height: 100%;
}

/* masquage de texte, alternative (buggé?) */
.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* masqué */
.hidden {
    display: none !important;
    visibility: hidden;
}

/* masqué juste sur l'écran (pas sur RSS ou moteurs) */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* clearfix */

.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}
.clearfix:after {
    clear: both;
}

/* @end */


/* ==|== media queries ======================================================
   ========================================================================== */

/* @group Responsive horizontal */

@media (max-width: 1330px){
  .videoContainer{
    iframe, embed{
      width: 350px;
      height: 200px;
    }
  }
}

@media (max-width: 1155px){
  #gform_wrapper_@{addPlayer}{
    .gform_footer{
      display: block;
      margin: 20px 0 0;
    }
  }

  #input_@{addPlayer}_4{
    margin: 0;
  }
}

@media (max-width: 1120px){
  .page-template-solution{
    h1{
      width: 100%;
      float: none;
    }

    header{
      + .container{
        text-align: center;
        .clearfix{
          margin: 0 0 30px;
        }
      }
    }

    .btnIt{
      float: none;
    }
  }

  .schema{
    float: none;
  }

  .col2{
    .gfield_label{
      width: 28%;
    }
    .gform_wrapper{
      .gform_footer{
        input[type=submit]{
          margin: 15px 0 0 28%;
        }
      }
    }
  }

  .formContainer.gravity{
    .col2 p{
      span{
        margin: 0 0 0 28%;
      }
    }
  }

}

@media (max-width: 1050px){
	#bloc-right-home{
	  a#pastilleNGF {
	  	right: auto;
	  	left: 50%;
	  }
	}
  #menu-footer{
    float: none;
    display: block;
    margin: 0 0 18px;
    text-align: center;
    a{
      margin: 0 15px;
    }
  }

  #top-footer{
    .align-left{
      margin-bottom: 15px;
      float: none;
      text-align: center;
    }
  }

  footer{
    br{
      display: none;
    }
  }

  .homeTemp{
    #menu-footer{
      float: right;
      margin: 34px 0 31px;
      text-align: left;
    }
  }

  .infoContact.sidebarFormCol2 + .formContainer, .infoContact.sidebarFormCol2{
    width: 100%;
  }
  .infoContact.sidebarFormCol2{
    padding-right: 20px;
    margin: 0 0 30px;
    p{
      margin-bottom: 15px;
    }
  }

  .menu-compte, .compte{
    display: block;
    width: 100%;
  }

  .menu-compte{
    .submenu li{
      display: inline-block;
      padding-right: 15px;
    }
  }
}

@media (max-width: 1020px) {
  header{
    .btn{
      padding: 10px 30px
    }
  }
  #menu{
    li{
      margin: 0 20px 0 0;
    }
  }

  .videoContainer{
    margin: 3% 0 0;
  }

  .partenaire, .devenir{
    width: 100%;
    margin: 0 0 10px;
    height: auto;
    text-align: center;
  }

  .fonctionnalites, .pagePro{
    aside{
      width: 100%;
    }
    + footer{
      margin: 65px 0 0;
    }
  }

  #slider{
    width: 100%;
    margin: 20px 0 0;
  }

  #btn-pro{
    margin: 34px 20px 0 0;
  }
}


@media (max-width: 979px) {
  .page-template-solution{
    header{
      padding: 0 0 300px;
      background-size: 979px auto;
    }
  }

  .videoContainer{
    margin: 30px 0 0;
  }

  .formContainer, .infoContact, .infoNgf{
    width: 100%;
  }
  .infoContact, .infoNgf{
    padding-right: 20px;
    margin: 0 0 30px;
    p{
      margin-bottom: 15px;
    }
  }

  .rdv{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  #golf-list {
  	li {
  		width: 100%;
  		&#temporary {
  			display: none;
  		}
  	}
  }
}

@media (max-width: 880px){
  #top-header{
  	p.topMentions span {
  		display: none;
  	}
  }
  #burger{
    display: block;
  }

  #menu{
    position: fixed;
    overflow: hidden;
    height: 100%;
    background: #000;
    right: -185px;
    top: 0;
    padding: 0 33px;
    li{
      display: block;
      margin: 0 0 20px;
    }
    .uk &{
      padding: 0 50px;
    }
  }

  #menu-header{
    margin-left: -150px;
  }

  #btn-contact{
    display: block;
    margin: 0;
    &.contact-en{
      margin: 22px 0 0;
    }
  }

  #btn-pro{
    &:extend(#btn-contact);
  }

  .home{
    h1{
      font-size: 3em;
    }
  }

  .homeTemp{
    #menu{
      padding: 0 23px;
    }
  }

  .schema{
    img{
      display: block;
      margin: 20px auto;
    }
    .icon-fleche{
      display: inline-block;
      .transform(rotate(90deg));
    }
  }

  .rdvNow{
    img{
      float: none;
      padding-bottom: 20px;
    }
  }

  body .gform_wrapper .gf_page_steps{
    .gf_step{
      margin: 0 .5em 15px 0;
    }
    .gf_step_label{
      font-size: 1em;
    }
    span.gf_step_number{
      font-size: 1.2em;
      .size(25px);
      line-height: 27px;
    }
  }

  #field_@{choixAbonnement}_13, #field_@{choixAbonnement}_11,
  #field_@{modifAbonnement}_13, #field_@{modifAbonnement}_11{
    display: block;
    width: 100%;
  }
  #field_@{choixAbonnement}_13, #field_@{modifAbonnement}_13{
    margin: 0 !important;
  }
}

@media (max-width: 767px) {
  header{
    padding: 0 0 100px;
    background-size: 790px auto;
  }

  .homeTemp.home{
    h1{
      width: 100%;
    }
  }

  label{
    display: block;
    width: 100%;
    text-align: left;
    padding: 0 0 5px;
  }
  textarea, #objet {
    width: 100%;
  }
  .formContainer{
    .btn{
      margin: 0;
    }
    form + p{
      margin: 20px 0 0;
    }
  }

  .page-template-solution header{
    padding: 0 0 265px;
  }

  .categories{
    width: 100%;
    .h1{
      margin-bottom: 20px;
    }
    li{
      display: inline;
      padding-right: 15px;
    }
  }
  .live{
    width: 100%;
  }

  .hang{
    margin: 20px 0;
    &:hover, &:focus{
      margin: 20px 0 20px 5px;
    }
  }

  .searchform{
    margin: 0;
    border-top: 0;
    text-align: left;
    padding-left: 20px;
  }

  .fonctionnalites, .pagePro{
    overflow: hidden;
    + footer {
      margin: 0;
    }
  }

  .slider{
    height: 710px;
  }

  .slidesTxt{
    top: 0;
    width: 100%;
  }

  .slides{
    top: 190px;
  }

  .demandeInfo{
    position: relative;
    bottom: 0;
    right: 0;
    margin: 20px 0;
  }

  body{
    .gform_wrapper{
      .top_label li.gfield.gf_left_half, .top_label li.gfield.gf_right_half{
        display: block;
        width: 100%;
      }
      .gform_footer{
        input[type=submit]{
          margin: 15px 0 0 0;
        }
      }
    }
  }

  #field_@{information}_6{
    margin-top: 40px !important;
  }
  #field_@{information}_15{
    margin-top: 0 !important;
  }

  #field_@{information}_18, #field_@{information}_14, #field_@{choixAbonnement}_15, #field_@{choixAbonnement}_8, #field_@{coordonees}_8, #field_@{coordonees}_3{
    margin: 0 0 10px !important;
  }

  .col2{
    .gform_wrapper{
      .gform_footer{
        input[type=submit]{
          &:extend(body .gform_wrapper .gform_footer input[type=submit]);
        }
      }
    }
  }

  .formContainer.gravity{
    .col2 p, p{
      span{
        margin: 0;
      }
    }
  }

  .myPlayers{
    text-align: left;
    > div{
      display: block;
      float: none !important;
    }
  }
  .abonnementActuel{
    margin: 30px 0;
  }
  .player{
    .numPlayer + span{
      display: block;
    }
    .detail{
      margin-left: 0;
      p{
        width: 100%;
      }
    }
  }

  #gform_fields_@{addPlayer}{
    label{
      padding-right: 5px;
    }
  }

}

@media (max-width: 500px){
  #demande .slides{
    background: url(../layoutImg/demandeSmall.png) no-repeat;
    .uk &{
      background: url(../layoutImg/uk/demandeSmall.png) no-repeat;
    }
  }
  #probleme .slides{
    background: url(../layoutImg/problemeSmall.png) no-repeat;
    .uk &{
      background: url(../layoutImg/uk/problemeSmall.png) no-repeat;
    }
  }
  #video .slides{
    background: url(../layoutImg/videoSmall.png) no-repeat;
    .uk &{
      background: url(../layoutImg/uk/videoSmall.png) no-repeat;
    }
  }
  #reponse .slides{
    background: url(../layoutImg/reponseSmall.png) no-repeat;
    .uk &{
      background: url(../layoutImg/uk/reponseSmall.png) no-repeat;
    }
  }

  .demandeInfo{
    margin: 55px 0 20px;
  }

  .gfield_label, .col2 .gfield_label{
    width: 100%;
  }

  .gform_wrapper .textarea_container .ginput_container{
    width: 100%
  }

}

@media (max-width: 450px){
  h1{
    padding-left: 0;
    font-size: 2em;
    margin-top: 15px;
  }

  .page-template-solution h1{
    margin-top: 0;
  }

  .homeTemp.home h1 {
    font-size: 2.1em;
  }

  h2{
    font-size: 1.3em;
  }

  .content{
    padding: 0;
  }

  #bloc-right-home{
    padding: 50px 0 270px 47%;
    overflow: hidden;
     a#pastilleNGF {
     	margin-left: -80px;
     }
  }
  .videoContainer{
    left: 40px;
  }

  .partenaire, .devenir{
    padding: 30px;
  }

  .infoContact{
    padding-top: 0;
  }

  .blocError{
    text-align: center;
    top: -115px;
  }
  .succes{
    padding-left: 0;
  }

  .slides{
    left: -85px;
    top: 240px;
  }
  #golf-list {
  	li {
  		padding-left: 0;
  		padding-right: 0;
  		margin-left: 0;
  		margin-right: 0;
  	}
  }
}

@media (max-width: 400px){
  .formContainer{
    input[type=text], input[type=email]{
      width: 100%;
    }
  }

  .nbPlayers{
    width: 265px;
    > div{
      width: 125px
    }
    .invite{
      margin: 0 15px 0 0;
    }
    .legend{
      width: 65px;
    }
  }
}

@media (max-width: 375px){
  #logo{
    width: 180px;
    background-size: 100%;
  }

  #lien-app-store{
    margin-top: 30px;
  }

  .categories ul, .searchform{
    padding-left: 0;
  }

  .devenir .btn{
    padding: 10px 37px;
  }
}

/* @end */

/* @group Responsive vertical */

@media (max-height: 950px) {
  #zone-gant{
    width: 520px;
    height: 592px;
    margin: 0 0 0 -567px;
  }
}

@media (max-height: 850px) {
  #zone-gant{
    width: 440px;
    height: 501px;
    margin: 0 0 0 -487px;
  }
}

/* @end */

/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    #logo{
      background: url('../layoutImg/logo-mysoswing@2x.png') no-repeat;
      background-size: 100%;
    }
}



/* ==|== print styles =======================================================
   ========================================================================== */

@media print {
  * {}
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}