@import "norm.less";
@import "lesshat.less";
@import "fonts.less";

@blanc: #fff;
@noir: #000;
@orange: #ff6300;
@orangeDark: darken(@orange, 20%);
@gris: #9d9d9d;
@border: #a0a0a0;
@grisInput: #6d6d6d;
@error: #da2c13;
@actif: #898989;

html,
button,
input,
select,
textarea {
    color: @noir;
}

/* @group Mes styles */

/* @group General */

/* selection */
::-moz-selection { 
	background: @noir;  
	color: @blanc;
	text-shadow: none; 
}
::selection { 
	background: @noir;  
	color: @blanc; 
	text-shadow: none; 
}

/* @end */

html, body.home{
  position: relative;
  min-height: 100%;
  height: 100%;
}

html{
  background: @noir;
  &.white{
    background: @blanc;
  }
}

body{
  .motiva(0.9em);
  background: @blanc;
}

h1, h2, h3, strong, b, em, i{
  font-weight: normal;
}

h1, .h1{
  .motivaBold(2.2em);
  border-bottom: 1px dotted @border;
  padding: 0 0 0 20px;
  line-height: 1.3em;
  margin: 35px 0 45px;
}

h2{
  .motivaBold(1.6em);
  line-height: 1.1em;
  margin: 30px 0;
}

a{
  .motivaBold(1em);
  color: @orange;
  .transition(.2s ease-in-out);
  &:hover, &:focus, &:active{
    color: @orangeDark;
    .transition(.2s ease-in-out);
    outline: 0;
  }
  &:active{
    opacity: 0.8;
  }
}

p{
  margin: 10px 0 35px;
  line-height: 20px;
}

blockquote{
  position: relative;
  background: @noir;
  margin: 35px 0;
  color: @blanc;
  padding: 20px 35px;
  border-radius: 4px;
  .motivaIt(1.1em);
  p{
    margin: 0;
  }
  &:before{
    font-size: 11px;
    position: absolute;
    left: 11px;
    top: 23px;
    color: @orange;
  }
}

input, textarea{
  display: inline-block;
  vertical-align: middle;
  .box-shadow(inset 0 2px 3px rgba(0, 4, 10, 0.2));
  border: 1px solid @grisInput;
  border-radius: 4px;
  padding: 9px 13px;
  .motivaIt(1.15em);
  .transition(.2s ease-in-out);
  &:focus{
    outline: 0;
    border-color: @orange;
    .box-shadow(inset 0 2px 3px rgba(182, 81, 18, 0.2));
  }
}

input[type=submit], button{
  border: 0;
  vertical-align: middle;
  .transition(.2s ease-in-out);
  &:focus{
    outline: 0;
  }
  &:active{
    opacity: 0.8;
  }
}
button.btn{
  display: block;
  margin: 0 auto;
}

strong, b{
  .motivaBold(1em);
}

.container{
  position: relative;
  width: 100%;
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  .box-sizing(border-box);
  .lt-ie9 &{
    max-width: 960px;
  }
}
.content{
  padding: 0 20px;
}

.blocGris{
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
  display: inline-block;
  vertical-align: top;
  .box-sizing(border-box);
}

.align-left{
  float: left;
}

.align-right{
  float: right;
}

/* @end */

/* @group btn */

.btn{
  display: inline-block;
  vertical-align: top;
  padding: 10px 44px;
  background: @orange;
  color: @blanc;
  .motivaIt(1.1em);
  text-decoration: none;
  .border-radius(5px);
  .box-shadow(0 3px 0 @orangeDark);
  height: 42px;
  .box-sizing(border-box);
  &:hover, &:focus, &:active, &.actif{
    color: @blanc;
    .box-shadow(0 1px 3px @orangeDark);
    background: darken(@orange, 5%);
    padding-top: 12px;
    padding-bottom: 8px;
  }
  &.actif{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.btn-inline{
  color: #ee7318;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid @orangeDark;
  text-decoration: none;
  padding: 2px 0 0 0;
  line-height: 0.8em;
}

.btnIt{
  .motivaIt(1.1em);
  float: right;
  &:after{
    content: '›';
    position: absolute;
    padding: 0 0 0 5px;
  }
}

.btnItExt, .btnItPrev{
  padding: 0 0 0 7px;
  position: relative;
  &:before{
    position: absolute;
    left: 0;
  }
}
.btnItPrev{
  .motivaIt(1.1em);
  float: left;
  &:before{
    content: '‹';
  }
}
.btnItExt{
  .motivaBoldIt(1.1em);
  &:before{
    content: '›';
  }
}

.plus{
  .size(125px);
  background: @blanc;
  display: inline-block;
  line-height: 173px;
  color: #ccc;
  text-decoration: none;
  border: 1px solid #e7e7e7;
  font-size: 135px;
  &:hover, &:focus, &:active{
    color: #fff;
    border-color: #fff;
    background: #ccc;
  }
}

/* @end */

/* @group Header */

header{
  width: 100%;
  z-index: 2;
  position: relative;
  background: url(../layoutImg/banner.png) no-repeat 50% 100%;
  background-size: 100% auto;
  padding: 0 0 13%;
  .lt-ie9 &{
    .btn{
      padding: 10px 30px
    }
  }
}

#top-header{
  height: 30px;
  background: @orange;
  border-bottom: 1px solid @orangeDark;
}

#menu-langues{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 7px 0 0 0;
  float: left;
  li{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
    &:last-of-type{
      margin: 0;
    }
    &.active{
      a{
        color: @blanc;
        .motivaLtIt(1em);
        border-bottom-width: 0px;
      }
    }
    a{
      .motiva(1em);
      line-height: 0.9em;
      color: @noir;
      display: inline-block;
      border-bottom: 1px solid @orangeDark;
      text-decoration: none;
      text-transform: uppercase;
      &:hover, &:focus, &:active{
        color: @blanc;
        border-color: @blanc;
      }
    }
  }
}

#bottom-header{
  height: 110px;
  background-color: @noir;
}

#btn-connexion{
  float: right;
  .motiva(1em);
  line-height: 0.7em;
  color: @noir;
  display: inline-block;
  text-decoration: none;
  padding: 11px 0 0 0;
  position: relative;
  .icon-lock{
    font-size: 11px;
    display: block;
    width: 9px;
    height: 11px;
    position: absolute;
    top: 9px;
    left: -13px;
    .transition(.2s ease-in-out);
  }
  .txt-btn{
    display: inline-block;
    border-bottom: 1px solid @orangeDark;
    .transition(.2s ease-in-out);
  }
  &:hover, &:focus, &:active{
    .icon-lock, .txt-btn{
      color: @blanc;
      .transition(.2s ease-in-out);
    }
    .txt-btn{
      border-color: @blanc;
    }
  }
}

#logo{
  display: block;
  float: left;
  .size(206px, 85px);
  text-indent: 100%;
  background: url(../layoutImg/logo-mysoswing.png) no-repeat;
  margin: 11px 0 0;
  overflow: hidden;
}

#menu{
  display: inline-block;
  vertical-align: top;
  float: right;
  li{
    display: inline-block;
    vertical-align: top;
    margin: 0 44px 0 0;
    padding: 0;
    &.current-menu-item a, &.current_page_parent a{
      color: @orange;
      border-bottom: 1px solid; 
    }
    a{
      .motivaIt(1.1em);
      color: @blanc;
      text-decoration: none;
      &:focus, &:active{
        color: @orange;
      }
      &.actif{
        color: @orange;
        border-bottom: 1px solid; 
      }
      .no-js &{
        &:hover{
          color: @orange;
        }
      }
    }
  }
  .lt-ie9 &{
    li{
      margin: 0 20px 0 0;
    }
  }
}

#menu-header{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 44px 0 0;
}

#btn-contact{
  margin: 34px 0 0;
}

#burger{
  float: right;
  margin: 35px 0;
  padding: 10px 13px;
  width: 25px;
  height: 19px;
  position: relative;
  overflow: hidden;
  display: none;
  .box-sizing(content-box);
  i{
    display: block;
    width: 25px;
    height: 3px;
    background: @blanc;
    border-radius: 8px;
    position: absolute;
    .transition(.2s ease-in-out);
  }
  #b1{
    top: 10px;
  }
  #b2{
    top: 18px;
  }
  #b3{
    top: 26px;
  }
  &.on{
    i{
      .transition(.2s ease-in-out);
    }
    #b1{
      top: 18px;
      .transform(rotate(45deg));
    }
    #b2{
      .transform(rotate(-45deg));
    }
    #b3{
      top: 50px;
    }
  }
}

/* @end */

/* @group Footer */

footer{
  position: relative;
  z-index: 2;
  margin: 65px 0 0;
  &.bottom{
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  .lt-ie9 &{
    br{
      display: none;
    }
  }
}
#top-footer{
  background: @noir;
  color: @gris;
  .align-left{
    .motiva(0.9em);
    line-height: 1.2em;
    margin: 28px 0;
    padding: 0;
  }
  .lt-ie9 &{
    .align-left{
      margin-bottom: 15px;
      float: none;
      text-align: center;
    }
  }
}
#menu-footer{
  margin: 34px 0 31px;
  padding: 0;
  list-style: none;
  li{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
  }
  a{
    color: @gris;
    text-decoration: none;
    margin: 0 0 0 30px;
    .motiva(1.05em);
    &:hover, &:focus, &:active{
      color: @blanc;
    }
  }
  .lt-ie9 &{
    float: none;
    display: block;
    margin: 0 0 18px;
    text-align: center;
    a{
      margin: 0 15px;
    }
  }
}
#bottom-footer{
  height: 10px;
  background: @orange;
  border-top: 1px solid @orangeDark;
}

/* @end */

/* @group Home */

.home{
  header{
    position: absolute;
    background: none;
    padding: 0;
  }
  footer{
    margin: -96px 0 0;
  }
  h1{
    font-size: 4.063em;
    line-height: 1em;
    color: @noir;
    margin: 0;
    padding: 0;
    letter-spacing: -2px;
    .opacity(0);
    border: 0;
  }
}

#bloc-home{
  position: relative;
  height: 100%;
  min-height: 768px;
  .box-sizing(border-box);
  padding: 141px 0 96px 0;
  .homeTemp &{
    min-height: 900px;
  }
}

#bloc-bg-home{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../layoutImg/home/bg.jpg) no-repeat 50% 50%;
  background-size: auto 100%;
  background-size: cover;
  overflow: hidden;
}

#zone-gant{
  width: 607px;
  height: 691px;
  .box-sizing(border-box);
  padding: 0;
  margin: 0 0 0 -647px;
  position: absolute;
  bottom: 96px;
  left: 50%;
  .transform-style(preserve-3d);
  .backface-visibility(hidden);
  .transform(translate(200px, 600px), rotate(40deg));
  > div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
#gant{
  background: url(../layoutImg/home/gant.png);
}
#telephone{
  background: url(../layoutImg/home/telephone.png);
}
#sur-gant{
  background: url(../layoutImg/home/sur-gant.png);
}

#bloc-right-home{
  width: 100%;
  .box-sizing(border-box);
  padding: 100px 0 0 52%;
  height: auto;
}

#lien-app-store{
  display: block;
  width: 135px;
  height: 40px;
  background: url(../layoutImg/app-store.png) no-repeat 50% 50%;
  margin: 60px 0 0 0;
  padding: 0;
  .opacity(0);
  .transform(translate(0, 20px));
}


.homeTemp{
  #top-header{
    height: 10px;
  }
  
  #bloc-bg-home{
    background-position: 50% 90px;
  }

  button{
    .no-js &, &.hidden, .lt-ie9 &{
      display: none;
    }
  }

  .lt-ie9 &{
    #menu-footer{
      margin: 34px 0 31px;
    }
  }

  #menu{
    .current-menu-item + .current-menu-item a{
      color: @blanc;
      border: 0; 
    }
    li + li{
      margin: 0;
    }
  }

  &.home{
    h1{
      opacity: 1;
      .motivaBoldIt(3.2em);
      text-align: center;
      width: 640px;
      margin: 50px auto 30px;
      + p{
        font-size: 1.15em;
        text-align: center;
      }
    }
    form{
      width: 305px;
      margin: 200px auto 0;
      opacity: 0;
      .no-js &, &.here, .lt-ie9 &{
        margin: 0 auto;
        opacity: 1;
      }
    }

    input[type=submit]{
      padding: 10px 24px;
    }
    input{
      max-width: 144px;
    }
  }
}

.fail{
  text-align: center;
  .motivaBold(1.2em);
  margin-bottom: 5px;
}

/* @end */

/* @group Solution */

.page-template-solution{
  header{
    background: url(../layoutImg/bannerSolution.jpg) no-repeat 50% 100%;
    background-size: 100% auto;
    padding: 0 0 30%;
    + .container{
      margin: 30px auto 0;
      .lt-ie9 &{
        text-align: center;
        .clearfix{
          margin: 0 0 30px;
        }
      }
    }
  }

  h1{
    width: 300px;
    .motivaIt(1.5em);
    border: 0;
    padding: 0;
    float: left;
    .lt-ie9 &{
      float: none;
      width: 100%;
    }
  }

  .lt-ie9 &{
    .btnIt{
      float: none;
    }
  }
}

.videoContainer{
  display: inline-block;
  position: absolute;
  right: 40px;
  margin: 4% 0 0;
  iframe, embed{
    border: 5px solid rgba(0, 0, 0, 0.7);
    max-width: 100%;
  }
}

.schema{
  float: right;
  .lt-ie9 &{
    float: none;
  }
  .icon-fleche{
    color: #6b6b6b;
    padding: 0 15px;
    font-size: 12px;
  }
}

/* @end */


/* @group Partenaires */

.partenaire, .devenir{
  height: 425px;
  h2{
    font-size: 1.95em;
    margin: 50px 0 25px;
  }
  p{
    color: #747474;
    .motivaIt(1em);
    line-height: 17px;
    margin-bottom: 25px;
  }
}

.partenaire{
  width: 65%;
  margin: 0 1% 0 0;
  padding: 50px 60px;
  img{
    max-width: 100%;
    height: auto;
  }
}
.devenir{
  width: 34%;
  padding: 40px 30px;
  text-align: center;
  h2{
    margin: 35px 0 15px;
  }
}

/* @end */


/* @group Contact */

.infoContact{
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding: 30px 45px 0 20px;
  font-size: 1.1em;
  .box-sizing(border-box);
}

.formContainer{
  width: 75%;
  padding: 30px 40px;
  position: relative;
  &.error{
    margin-top: 100px;
  }
  input[type=text], input[type=email]{
    padding: 9px 13px 7px;
    width: 230px;
    .box-sizing(border-box);
  }
  .btn{
    margin: 0 0 0 19%;
  }
}

label{
  width: 19%;
  .box-sizing(border-box);
  text-align: right;
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 1.1em;
  &.required{
    .motivaBold(1.1em);
  }
}
.labelMsg{
  padding-top: 10px;
}

fieldset{
  margin: 0 0 20px;
  &.error{
    label{
      color: @error;
    }
    input, textarea{
      border-color: @error;
    }
  }
}

textarea, #objet{
  width: 81%;
}

textarea{
  height: 175px;
  vertical-align: top;
  .box-sizing(border-box);
}

.blocError{
  position: absolute;
  margin: 0;
  padding: 25px 40px 22px;
  border: 5px solid @error;
  width: 100.5%;
  top: -101px;
  left: -1px;
  .motivaBoldIt(1.1em);
  .box-sizing(border-box);
}

.succes{
  padding-left: 20px;
  font-size: 1.1em;
  b{
    .motivaBoldIt(1.1em);
  }
}

/* @end */


/* @group Rdv Live + Blog */

.categories, .live{
  display: inline-block;
  vertical-align: top;
}

.categories{
  width: 28%;
  margin: 0 2% 0 0;
  .h1{
    margin-top: 14px;
    padding-bottom: 12px;
  }
  ul{
    list-style: none;
    padding: 0 0 0 20px;
  }
  a{
    padding: 0 0 0 7px;
    position: relative;
    &:before{
      content: '›';
      position: absolute;
      left: 0;
    }
    &.actif{
      text-decoration: none;
      color: @actif;
      .motiva(1em);
    }
  }
  li{
    &.current-cat a{
      text-decoration: none;
      color: @actif;
      .motiva(1em);
    }
  }
}

.live{
  width: 70%;
  h2, h1{
    span{
      .motivaIt(1em);
      line-height: 35px;
    }
  }
  .btnIt, .btnItPrev{
    margin: 30px 0 0;
  }
  .h1{
    padding: 0;
    .btnItPrev{
      font-size: 0.45em;
      margin: 0;
    }
  }
  .content{
    h1{
      padding: 0;
      border: 0;
      margin: 15px 0 20px;
      line-height: 1.1em;
      span{
        .motivaIt(1em);
      }
    }
    .wp-post-image{
      float: left;
      padding: 0 20px 10px 0;
    }
    img{
      max-width: 100%;
      height: auto;
    }
  }
}

.time{
  color: @orange;
  .motivaIt(1em);
}

.rdvNow{
  background: @noir;
  padding: 30px 20px;
  position: relative;
  margin: 0 0 20px;
  h2, p{
    color: @blanc;
  }
  h2{
    margin: 0 0 20px;
  }
  p{
    margin-bottom: 10px;
  }
  .time{
    position: absolute;
    top: -17px;
    left: 20px;
    background: @noir;
    border-radius: 5px;
    padding: 6px 12px;
  }
  .btn{
    position: absolute;
    right: 40px;
    bottom: -15px;
    &:before{
      content: '';
      display: inline-block;
      background: url(../layoutImg/btnLive.png) no-repeat;
      width: 12px;
      height: 18px;
      margin: 0 7px 0 0;
    }
  }
  .btnIt{
    margin: 0;
    .motivaBoldIt(1.1em);
    &:after{
      content: '';
    }
  }
  img{
    float: left;
    padding-right: 20px;
    max-width: 100%;
    height: auto;
  }
}

h1{
  + .rdv, + .rdv + .rdv{
    padding-top: 0;
    border-top: 0;
    margin-top: -20px;
  }
} 
.rdv{
  display: inline-block;
  width: 49%;
  border-top: 1px dotted @border;
  border-bottom: 1px dotted @border;
  margin: 15px 1% 0 0;
  padding: 30px 20px 15px;
  .box-sizing(border-box);
  &:nth-of-type(even){
    margin-right: 0;
    margin-left: 1%;
  }
  .lt-ie9 &{
    width: 48%;
    margin: 15px 1% 0;
  }
  h2{
    font-size: 0.98em;
    margin: 10px 0;
    height: 30px;
    overflow: hidden;
    span{
      color: @grisInput;
    }
  }
  a{
    .motivaBoldIt(1em);
  }
}

.searchform{
  text-align: center;
  margin: 45px 0 0;
  padding: 20px 0;
  border-top: 1px dotted @border;
  border-bottom: 1px dotted @border;
  fieldset{
    display: inline-block;
    margin: 0;
  }
}
.searchInput{
  min-width: 122px;
  width: 59%;
  margin: 0 3% 0 0;
}
.searchSubmit{
  padding: 10px 12px;
  font-size: 24px;
}

.rss{
  width: 19px;
  height: 19px;
  display: block;
  position: absolute;
  top: 45px;
  right: 20px;
  text-indent: -999em;
  background: url(../layoutImg/rss.png) no-repeat;
  &:hover, &:focus{
    top: 47px;
    opacity: 0.8;
  }
}

/* @end */


/* @group Fonctionnalites */

.fonctionnalites{
  aside{
    width: 28%;
    display: inline-block;
    vertical-align: top;
    a{
      &.actif{
        .motiva(1em);
        color: @actif;
        span{
          text-decoration: none;
        }
      }
    }
  }
  ul{
    list-style: none;
    padding: 0 0 0 20px;
  }
  h2{
    margin-bottom: 15px;
    span{
      display: inline-block;
      .size(33px);
      background: @orange;
      color: @blanc;
      border-radius: 50px;
      text-align: center;
      line-height: 40px;
      margin: 0 8px 0 0;
    }
    + p{
      margin: 10px 0 20px 10px;
    }
  }
  a{
    text-decoration: none;
    span{
      text-decoration: underline;
    }
  }
  .btnIt{
    margin-right: 10px;
  }
  + footer{
    margin: 0;
  }
}

#slider{
  width: 72%;
  display: inline-block;
  vertical-align: top;
  margin-top: -50px;
}

.slider{
  margin: 0;
  height: 460px;
  position: relative;
  padding: 0;
  .no-js &{
    height: auto;
  }
  li{
    position: absolute;
    opacity: 0;
    width: 100%;
    .lt-ie9 &{
      display: none;
      &.on{
        display: block;
      }
    }
    &.on{
      opacity: 1;
    }
    .no-js &{
      position: relative;
      height: 600px;
      opacity: 1;
    }
  }
}

.slidesTxt{
  width: 45%;
  position: absolute;
  top: 70px;
  display: none;
  .no-js &{
    display: block;
    right: 20px !important;
    opacity: 1 !important;
  }
}

.slides{
  position: absolute;
  width: 459px;
  height: 521px;
}
#demande .slides{
  background: url(../layoutImg/demande.png) no-repeat;
}
#probleme .slides{
  background: url(../layoutImg/probleme.png) no-repeat;
}
#video .slides{
  background: url(../layoutImg/video.png) no-repeat;
}
#reponse .slides{
  background: url(../layoutImg/reponse.png) no-repeat;
}

/* @end */


/* @group Non semantic Boilerplate */

/* remplacement image */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}
.ir:before {
    content: '';
    display: block;
    width: 0;
    height: 100%;
}

/* masquage de texte, alternative (buggé?) */
.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* masqué */
.hidden {
    display: none !important;
    visibility: hidden;
}

/* masqué juste sur l'écran (pas sur RSS ou moteurs) */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* clearfix */

.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}
.clearfix:after {
    clear: both;
}

/* @end */


/* ==|== media queries ======================================================
   ========================================================================== */

/* @group Responsive horizontal */

@media (max-width: 1330px){
  .videoContainer{
    iframe, embed{
      width: 350px;
      height: 200px;
    }
  }
}

@media (max-width: 1120px){
  .page-template-solution{
    h1{
      width: 100%;
      float: none;
    }

    header{
      + .container{
        text-align: center;
        .clearfix{
          margin: 0 0 30px;
        }
      }
    }

    .btnIt{
      float: none;
    }
  }

  .schema{
    float: none;
  }
}

@media (max-width: 1050px){
  #menu-footer{
    float: none;
    display: block;
    margin: 0 0 18px;
    text-align: center;
    a{
      margin: 0 15px;
    }
  }

  #top-footer{
    .align-left{
      margin-bottom: 15px;
      float: none;
      text-align: center;
    }
  }

  footer{
    br{
      display: none;
    }
  }

  .homeTemp{
    #menu-footer{
      float: right;
      margin: 34px 0 31px;
      text-align: left;
    }
  }
}

@media (max-width: 1020px) {
  header{
    .btn{
      padding: 10px 30px
    }
  }
  #menu{
    li{
      margin: 0 20px 0 0;
    }
  }

  .videoContainer{
    margin: 3% 0 0;
  }

  .partenaire, .devenir{
    width: 100%;
    margin: 0 0 10px;
    height: auto;
    text-align: center;
  }

  .fonctionnalites{
    aside{
      width: 100%;
    }
    + footer{
      margin: 65px 0 0;
    }
  }

  #slider{
    width: 100%;
    margin: 20px 0 0;
  }
}


@media (max-width: 979px) {
  .page-template-solution{
    header{
      padding: 0 0 300px;
      background-size: 979px auto;
    }
  }

  .videoContainer{
    margin: 30px 0 0;
  }

  .formContainer, .infoContact{
    width: 100%;
  }
  .infoContact{
    padding-right: 20px;
    margin: 0 0 30px;
    p{
      margin-bottom: 15px;
    }
  }

  .rdv{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 880px){
  #burger{
    display: block;
  }

  #menu{
    position: fixed;
    overflow: hidden;
    height: 100%;
    background: #000;
    right: -185px;
    top: 0;
    padding: 0 33px;
    li{
      display: block;
      margin: 0 0 20px;
    }
  }

  #menu-header{
    margin-left: -150px;
  }
  
  #btn-contact{
    display: block;
    margin: 0;
  }

  .home{
    h1{
      font-size: 3em;
    }
  }

  .homeTemp{
    #menu{
      padding: 0 23px;
    }
  }

  .schema{
    img{
      display: block;
      margin: 20px auto;
    }
    .icon-fleche{
      display: inline-block;
      .transform(rotate(90deg));
    }
  }

  .rdvNow{
    img{
      float: none;
      padding-bottom: 20px;
    }
  }
}

@media (max-width: 767px) {
  header{
    padding: 0 0 100px;
    background-size: 790px auto;
  }

  .homeTemp.home{
    h1{
      width: 100%;
    }
  }

  label{
    display: block;
    width: 100%;
    text-align: left;
    padding: 0 0 5px;
  }
  textarea, #objet {
    width: 100%;
  }
  .formContainer{
    .btn{
      margin: 0;
    }
  }

  .categories{
    width: 100%;
    .h1{
      margin-bottom: 20px;
    }
    li{
      display: inline;
      padding-right: 15px;
    }
  }
  .live{
    width: 100%;
  }

  .searchform{
    margin: 0;
    border-top: 0;
    text-align: left;
    padding-left: 20px;
  }

  .fonctionnalites{
    overflow: hidden;
    aside{
      margin: 50px 0 0;
    }
    + footer {
      margin: 0;
    }
  }

  .slider{
    height: 710px;
  }

  .slidesTxt{
    top: 0;
    width: 100%;
  }

  .slides{
    top: 190px;
  }
}

@media (max-width: 500px){
  #demande .slides{
    background: url(../layoutImg/demandeSmall.png) no-repeat;
  }
  #probleme .slides{
    background: url(../layoutImg/problemeSmall.png) no-repeat;
  }
  #video .slides{
    background: url(../layoutImg/videoSmall.png) no-repeat;
  }
  #reponse .slides{
    background: url(../layoutImg/reponseSmall.png) no-repeat;
  }
}

@media (max-width: 450px){
  h1{
    padding-left: 0;
    font-size: 2em;
  }

  h2{
    font-size: 1.3em;
  }

  .content{
    padding: 0;
  }

  #bloc-right-home{
    padding-left: 47%;
  }

  .videoContainer{
    left: 40px;
  }

  .partenaire, .devenir{
    padding: 30px;
  }

  .blocError{
    text-align: center;
    top: -115px;
  }
  .succes{
    padding-left: 0;
  }

  .slides{
    left: -85px;
    top: 240px;
  }
}

@media (max-width: 400px){
  .formContainer{
    input[type=text], input[type=email]{
      width: 100%;
    }
  }
}

@media (max-width: 375px){
  #logo{
    width: 180px;
    background-size: 100%;
  }

  #lien-app-store{
    margin-top: 30px;
  }

  .categories ul, .searchform{
    padding-left: 0;
  }

  .devenir .btn{
    font-size: 1.05em;
  }
}

/* @end */

/* @group Responsive vertical */

@media (max-height: 950px) {
  #zone-gant{
    width: 520px;
    height: 592px;
    margin: 0 0 0 -567px;
  }
}

@media (max-height: 850px) {
  #zone-gant{
    width: 440px;
    height: 501px;
    margin: 0 0 0 -487px;
  }
}

/* @end */

/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    #logo{
      background: url('../layoutImg/logo-mysoswing@2x.png') no-repeat;
      background-size: 100%;
    }
}



/* ==|== print styles =======================================================
   ========================================================================== */
 
@media print {
  * {} 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}